@media (max-width: 768px)
{
    div.hide{
        display: none;
    }    
    
    div.header-container a.label {
        font-size: 25px;
    }
    p.copyright, div.footer-container a 
    {
        font-size: 12px;
    }
    html, body {
        font-size: 12px;
    }
    header, footer {
        min-height: 40px;
    }        
    img.burger {
        width: 30px;
        height: 30px;
    }    
    nav.right a{    
        margin-right: 10px;
    }
    nav.menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav.nav-bot {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: aqua;
    }
    nav.nav-bot a {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        padding-left: 10px;
        color: white;
        height: 30px;
        width: 100%;
        text-decoration: none;
        align-self: flex-start;
        font-family: 'Chelsea Market', cursive;
        font-size: 15px;
    }
    nav.nav-bot a:hover {
        background-color: red;
    }
}
@media (min-width: 768px)
{
    nav.menu-bar {
        display: none;
    }
    html, body {
        font-size: 10px;
    }
    header, footer {
        min-height: 50px;
        max-height: 50px;
    }
    nav.right a{    
        margin-right: 20px;
    }
    div.header-container a {
        font-size: 20px;
    }
    div.header-container a.label {
        font-size: 30px;
    }
    p.copyright, div.footer-container a 
    {
        font-size: 20px;
    }
    nav.nav-bot {
        display: none;
    }
}