* {
    --header-color: #3700b3;    
    --body-color: #e4f4ec;
    --header-links-color: #4d1fbb;
    --header-links-color2: #795cc9;
    --content-color: #cfd6e5;
    --card-color: #b9b7de;
    --headline-color: #633dc2;
    --button-color: #8e7ad0;
    --button-color2: #a499d7;
    --report-color: rgb(193, 173, 250);
}
